@font-face {
  font-family: "E_M";
  src: url("../fonts/ELAND_M.ttf");
}
.page{
  font-family: "E_L";
}
.box{
  background-color: white;
  margin-top: 1%;
  border-radius: 15px;
  height: 75vh;
  overflow-y: hidden;
}