.Biglist{
  margin: 0 auto;
  width: 90%;
}
.scroll{
  width: 100%;
  height: 55vh;
  overflow: scroll;
  overflow-x: hidden;
  background-color: white;
  border: 1px solid black;
  border-bottom: 2px solid black;
  /* margin-bottom: 3%; */
}
.scroll::-webkit-scrollbar{
  display:none;
}
.listBtn{
  background: inherit ;
  border:1px solid black;
  box-shadow:none;
  border-radius:0;
  padding:0;
  overflow:visible;
  cursor:Default;
  width: 100%;
}
.listBtn:hover{
  background-color: rgb(243, 243, 243);
}
.listBtn.select{
  background-color: rgb(216, 216, 216);
}
.playerInfo{
  padding-left: 3%;
  width: 25%;
  height: 50%;
  margin: 20% auto;
  background-color: white;
  border-radius: 15px;
  justify-content: center;
}
.SetBackNumber{
  padding-left: 3%;
  width: 25%;
  height: 50%;
  margin: 20% auto;
  background-color: white;
  border-radius: 15px;
  justify-content: center;
}
.RegisterList{
  /* padding-left: 3%; */
  width: 35%;
  height: 70%;
  margin: 10% auto;
  background-color: white;
  border-radius: 15px;
  justify-content: center;
}
.RemovePlayer{
  padding-left: 3%;
  width: 25%;
  height: 50%;
  margin: 20% auto;
  background-color: white;
  border-radius: 15px;
  justify-content: center;
}
.RegisterListDetail{
  width: 90%;
  margin: 5% auto;
  text-align : center;
}