.Biglist{
  width: 100%;
  height: 75vh;
  overflow: scroll;
  overflow-x: hidden;
  background-color: white;
}
.Biglist::-webkit-scrollbar{
  display:none;
}
.listBtn{
  background: inherit ;
  border:none;
  box-shadow:none;
  border-radius:0;
  padding:0;
  overflow:visible;
  cursor:Default;
  width: 100%;
}
.listBtn:hover{
  background-color: rgb(243, 243, 243);
}
.listBtn.select{
  background-color: rgb(216, 216, 216);
}
.playerInfo{
  padding-left: 3%;
  width: 25%;
  height: 50%;
  margin: 20% auto;
  background-color: white;
  border-radius: 15px;
  justify-content: center;
}