.list{
  margin-left: 1%;
  min-width: 252.55px;
  min-height: 413.58px;
  width: 35vh;
  height: 54vh;
  background-color: aquamarine;
  border: 2px solid black;
  overflow: scroll;
  overflow-x: hidden
}

.selected{
  color:blue;
}
.candidate{
  color:red
}
