.list{
  margin-left: 1%;
  min-width: 252.55px;
  min-height: 413.58px;
  width: 40vh;
  height: 60vh;
  background-color: aquamarine;
  border: 2px solid black;
  overflow: scroll;
  overflow-x: hidden;
}

.list::-webkit-scrollbar{
  display:none;
}

.selected{
  color:blue;
}
.candidate{
  color:red
}
