@font-face {
  font-family: "E_B";
  src: url("../fonts/ELAND_B.ttf");
}
@font-face {
  font-family: "E_L";
  src: url("../fonts/ELAND_L.ttf");
}
@font-face {
  font-family: "E_M";
  src: url("../fonts/ELAND_M.ttf");
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.small {
  font-family: "E_L";
  color: white;
  font-size: 35pt;
  margin-bottom: 50px;
}
.big {
  font-family: "E_B";
  color: #fff100;
  font-size: 90pt;
}
.normal {
  font-family: "E_B";
  color: white;
  font-size: 90pt;
}
#btn{
  font-family: "E_M";
  margin-top: 50px;
  color: white;
  font-size: 25pt;
  padding: 20px 60px 20px 60px;
  border: #fff100 solid 2px;
  background-color: rgba(0, 0, 0, 0);
}
#smaller {
  font-family: "E_L";
  color: white;
  font-size: 15pt;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);;
}