.body{
  /* justify-content: center; */
  /* display: "flex" ; */
  background-color: white;
  /* min-width: 620px;
  height: 875px; */
  /* min-width: 20rem;
  min-height: 32rem; */
  min-width: 23.35%;
  width: 20vw;
  height: 31.3vw;
  /* height: 88.5%; */
  border: 2px solid black;
  /* align-items: center; */
  margin-right: 1%;
}
.avatar{
  left: 200px;
  border: 2px solid black;
}
.avatar:hover{
  cursor: pointer;
}
.teaminfo{
  /* float: left; */
  display: flex;
  flex-direction: column;
  vertical-align:middle;
  /* flex-wrap: wrap; */
  /* margin-left: 50px;
  margin-top: 20px;
  margin-left: 50px; */
}