.body{
  background-color: white;
  min-width: 252.55px;
  min-height: 413.58px;
  width: 40vh;
  height: 60vh;
  border: 2px solid black;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  vertical-align:middle;
  text-align:center;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
}
.body::-webkit-scrollbar{
  display:none;
}
/* 글자이름 반응형으로 */
.avatar{
  border: 2px solid black;
  /* width: 30vh; */
}
.avatar:hover{
  cursor: pointer;
}
.teaminfo{
  /* float: left; */
  display: flex;
  flex-direction: column;
  vertical-align:middle;
  /* flex-wrap: wrap; */
  /* margin-left: 50px;
  margin-top: 20px;
  margin-left: 50px; */
}
textarea:disabled{
  background: white;
}
.teamname{
  font-size:x-large;
  text-align:center;
}
.teamname1{
  font-size:x-large;
  text-align:center;
  border: 0 solid black;
  margin-bottom: 3.4%;
  width: 200px;
  height: 4vh;
}
.btn{
  position: absolute;
  margin-left: -270px
}